
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Scripts")
    @Styles.Render("~/bundles/Styles")
</head>
<body>
    <div id="wrapper">
        <div ng-app="app">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="~/Content/Images/logo.chico.jpg" alt="ICBC"></a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-top-links navbar-left">
                        <li><a href="/#/Simulacion" class="active">Agregar Simulacion</a></li>
                        <li><a href="/#/ViewSimulaciones/" >Ver Simulaciones</a></li>
                        <li><a href="/#/Upload/" >Cargar Parametricacion</a></li>
                    </ul>
                }
                <ul class="nav navbar-top-links navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>



            <div ng-view></div>
        </div>
    </div>
    <footer>
        <div class="content-wrapper"> 
             <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </div>
    </footer>

    <script>
        window.legajo = '@User.Identity.Name';
        window.role = '@Roles.GetRolesForUser(@User.Identity.Name).FirstOrDefault()';
    </script>
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/App/app.js")

    @Scripts.Render("~/bundles/angular")
</body>
</html>
