<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascriptCustom")
    @Scripts.Render("~/bundles/angular")
    @*RenderSection("scripts", required: false)*@


</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="~/Content/Images/logo.chico.jpg" alt="ICBC"></a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="#" class="active" />blsdafsd</li>
                    <li><a href="12"/>dasfsad</li>
                    <li><a href="13"/>asdfasdf</li>
                </ul>
            }
            <ul class="nav navbar-top-links navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </div>

    <div ng-app="app">
        <div ng-view></div>

    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/App/app.js")

    <script src="~/App/Controllers/simulacionController.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/App/Services/simulacionService.js"></script>
    <script src="~/Scripts/lodash.js"></script>
            @*Scripts.Render("~/Scripts/metisMenu.min.js")
        @Scripts.Render("~/Scripts/jquery.form-validator.min.js")
        @Scripts.Render("~/Scripts/moment.js")
        @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
        @Scripts.Render("~/bundles/javascriptCustom")
        @Scripts.Render("~/Scripts/planilla.js")*@</body>
</html>
